<section class="chatbutton">
    
</section>
<section class="chatbot">
    <section class="inner-chatbot">
        <button class="close"><i class="fa fa-close"></i></button>
        <span class="firstChoices">
            <button>Zelf lezen</button>
            <button>Voorlezen</button>
        </span>
    </section>
</section>