<section class="chatbutton">
    
</section>
<section class="chatbot">
    <section class="inner-chatbot">
        <button class="close"><i class="fa fa-close"></i></button>
        
        <span id="firstChoices" class="choices">
            <button id="zelf">
                <img src="/icons/lezen.png" alt="zelf lezen">
                <p>Zelf lezen</p>
            </button>
            <button id="voor">
                <img src="/icons/voorlezen.png" alt="voorlezen">
                <p>Voorlezen</p>
            </button>
        </span>

        <span id="zelfLezen" class="hidden">
            <button id="detective">
                <img src="/icons/detective.png" alt="detective">
                <p>Detective</p>
            </button>
            <button id="dieren">
                <img src="/icons/dieren.png" alt="dieren">
                <p>Dieren</p>
            </button>
            <button id="school">
                <img src="/icons/school.png" alt="school">
                <p>School</p>
            </button>
            <button id="sprookjes">
                <img src="/icons/sprookjes.png" alt="sprookjes">
                <p>Sprookjes</p>
            </button>
        </span>

        <span id="voorLezen" class="hidden">
            <button>Dieren</button>
            <button>Kerst</button>
            <button>School</button>
            <button>Sinterklaar</button>
        </span>

        <span id="detectives" class="hidden">
            <button>
                <p>Diefstallen</p>
            </button>
            <button>
                <p>Geheimen</p>
            </button>
            <button>
                <p>Verdwijningen</p>
            </button>
        </span>
    </section>

    <div class="character">
        <div class="head">
            <div class="left_ear"></div>
            <div class="right_ear"></div>
            <div class="eyes_area">
                <div class="eye_left"></div>
                <div class="eye_right"></div>
            </div>
            <div class="mouth_area">
                <div class="mouth"></div>
            </div>
        </div>
        <div class="body">
            <div class="belly"></div>
        </div>
    </div>

    <section class="chatBalloon">
        <p class="speaker"> Jaapie de aap</p>
        <p id="text"></p>
    </section>

    
</section>