:root {
    --purple: #773278;
    --blue: #48A0D5;
    --green: #439752;
}

.chatbutton {
    width: 7rem;
    height: 7rem;
    position: fixed;
    border-radius: 50%;
    bottom: 1rem;
    right: 1rem;
    background-color: var(--blue);
    box-shadow: 0px 0px 5px rgba(0,0,0,.5);
    transition: 200ms;
    cursor: pointer;
}

.chatbutton:hover {
    transform: scale(1.2);
}

.chatbot {
    background-color: var(--blue);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    transform-origin: right bottom;
    animation: open 300ms ease;
}

.inner-chatbot {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.firstChoices {
    display: flex;
}

.firstChoices button {
    padding: 2rem;
    border-radius: 1rem;
    margin: 0 2rem;
    transition: 200ms;
    aspect-ratio: 1/1;
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
    border: 1px solid rgba(0, 0, 0, 1);
    box-shadow: -10px 10px 5px rgba(128, 128, 128, 0.358), -10px 10px 0px white, -10px 10px 2px 2px rgba(0, 0, 0, 0.169);
    transform-origin: left bottom;
    cursor: pointer;
}

.firstChoices button:active {
    transform: scale(.9);
    box-shadow: 0px 0px 0px white;
}

.firstChoices button:first-of-type {
    background-color: var(--green);
}

.firstChoices button:last-of-type {
    background-color: var(--purple);
}

.close {
    position: absolute;
    left: 1.5rem;
    top: 1.5rem;
    background-color: white;
    border: 0px solid transparent;
    color: var(--purple);
    padding: .5rem .8rem;
    border-radius: 50%;
    font-size: 1.3rem;
    cursor: pointer;
}

@keyframes open {
    from {
        transform: scale(0);
        border-radius: 50%;
    }
    to {
        transform: scale(1);
        border-radius: 1rem;
    }
}