:root {
    --bg-color: rgb(255, 255, 255);
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color);
    font-family: sans-serif;
    max-height: 100vh;
}

main {
    width: calc(100% - 2rem);
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem 1rem;
    height: 100vh;
}

ul {
    list-style: none;
}

header {
    background-color: white;
    box-shadow: 0px 3px 5px rgba(0,0,0,.1);
}

header nav ul {
    padding: .25rem 1rem 0;
}

header img {
    width: 6.35rem;
}

.hidden {
    display: none!important;
}