<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head')  %>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/chatbot.css">
    <script src="/js/script.js" defer></script> 
</head>
<body>
    <main>
        <ul id="messageContainer">
            <li>
                <svg width="99" height="88" class="monkey" viewBox="0 0 99 88" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M64.3503 79.2353C82.4544 74.8448 93.5673 56.5922 89.1717 38.4671C84.7761 20.3419 66.5364 9.2078 48.4323 13.5983C30.3282 17.9889 19.2152 36.2414 23.6108 54.3666C28.0065 72.4917 46.2461 83.6259 64.3503 79.2353Z" fill="#D46A2D"/>
                    <path d="M59.2466 58.1937C71.7493 55.1616 80.3675 46.4469 78.4957 38.7288C76.624 31.0108 64.9711 27.2121 52.4684 30.2442C39.9656 33.2764 31.3474 41.9911 33.2192 49.7091C35.0909 57.4272 46.7438 61.2258 59.2466 58.1937Z" fill="#E79E72"/>
                    <path d="M64.8831 81.4332C75.6801 78.8148 82.9154 70.4354 81.0437 62.7174C79.172 54.9993 68.9019 50.8653 58.1049 53.4837C47.3079 56.1022 40.0725 64.4816 41.9443 72.1996C43.816 79.9176 54.0861 84.0517 64.8831 81.4332Z" fill="#F2C8AC"/>
                    <path d="M46.2446 51.1958C47.6389 50.8577 48.4947 49.4519 48.1562 48.0561C47.8177 46.6602 46.413 45.8027 45.0187 46.1408C43.6244 46.4789 42.7686 47.8846 43.1071 49.2805C43.4456 50.6764 44.8503 51.5339 46.2446 51.1958Z" fill="#975B30"/>
                    <path d="M66.4389 46.298C67.8332 45.9598 68.6891 44.5541 68.3506 43.1582C68.012 41.7623 66.6073 40.9048 65.213 41.243C63.8188 41.5811 62.9629 42.9868 63.3014 44.3827C63.64 45.7786 65.0447 46.6361 66.4389 46.298Z" fill="#975B30"/>
                    <path d="M54.2581 69.4761C56.1559 71.6688 58.4853 73.916 61.4938 74.2891C64.7524 74.691 67.7668 72.5082 69.1844 69.6906C69.977 68.0538 70.4133 66.2671 70.4645 64.4485C70.4877 63.888 69.6197 63.8622 69.5961 64.4211C69.4718 67.3296 68.45 70.3932 66.012 72.1659C64.8421 73.0188 63.4166 73.5328 61.9592 73.4584C60.6215 73.3908 59.3756 72.8319 58.2815 72.0877C56.994 71.2024 55.8963 70.0526 54.8754 68.8735C54.5083 68.4506 53.8838 69.0532 54.2493 69.4765L54.2581 69.4761Z" fill="#975B30"/>
                    <path d="M56.479 57.5065C57.0769 57.3615 57.4855 56.9306 57.3917 56.544C57.298 56.1575 56.7374 55.9617 56.1396 56.1066C55.5418 56.2516 55.1331 56.6825 55.2269 57.0691C55.3206 57.4556 55.8812 57.6515 56.479 57.5065Z" fill="#975B30"/>
                    <path d="M62.2618 56.1037C62.8009 55.973 63.1619 55.5536 63.0681 55.1671C62.9744 54.7805 62.4614 54.5731 61.9223 54.7038C61.3833 54.8346 61.0223 55.2539 61.116 55.6405C61.2098 56.027 61.7228 56.2344 62.2618 56.1037Z" fill="#975B30"/>
                    <path d="M18.0299 48.4468C24.7326 46.8213 28.847 40.0635 27.2196 33.353C25.5922 26.6424 18.8392 22.5202 12.1365 24.1457C5.43368 25.7712 1.31928 32.529 2.9467 39.2395C4.57411 45.9501 11.3271 50.0723 18.0299 48.4468Z" fill="#D46A2D"/>
                    <path d="M86.4503 27.2444C93.153 25.6188 97.2674 18.8611 95.64 12.1505C94.0126 5.43997 87.2597 1.31773 80.5569 2.94326C73.8541 4.56878 69.7397 11.3265 71.3671 18.0371C72.9945 24.7477 79.7475 28.8699 86.4503 27.2444Z" fill="#D46A2D"/>
                    <path d="M17.1656 44.8881C21.9052 43.7387 24.8145 38.9602 23.6638 34.2151C22.513 29.47 17.7379 26.5551 12.9983 27.7045C8.25871 28.854 5.34938 33.6324 6.50014 38.3775C7.65091 43.1227 12.426 46.0375 17.1656 44.8881Z" fill="#E79E72"/>
                    <path d="M85.587 23.686C90.3266 22.5365 93.2359 17.7581 92.0852 13.013C90.9344 8.26784 86.1593 5.35297 81.4197 6.5024C76.6801 7.65182 73.7708 12.4303 74.9215 17.1754C76.0723 21.9205 80.8474 24.8354 85.587 23.686Z" fill="#E79E72"/>
                </svg>
                    
                <span>Hallo daar!</span>
                <span>Mijn naam is Sammy en ik zal je helpen met iets te zoeken wat bij jou past!</span>
            </li>

            <li id="nameMessage">
                <form action="" id="nameForm">
                    <label for="name">Wat is jouw naam?</label>
                    <span>Mijn naam is <input type="text" name="name" id="name" autocomplete="off" placeholder="jouw naam"></span>
                </form>
            </li>
        </ul>
    </main>
</body>
</html>