<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head')  %>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/chatbot.css">
    <script src="/js/script.js" defer></script> 
</head>
<body>
    <button id="chatButton">chat</button>
    <main>
        <section id="chatbot">
            <header>Aapie de chatbot</header>
        </section>
    </main>
</body>
</html>