<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head')  %>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/chatbot.css">
    <script src="/js/script.js" defer></script> 
</head>
<body>
    <button id="chatButton">chat</button>
    <main>
        <section id="chatbot" class="hidden">
            <header>
                <nav>
                    <ul>
                        <li></li>
                        <li>Aapie de chatbot</li>
                    </ul>
                </nav>
            </header>
        </section>
    </main>
</body>
</html>